<h3>Your request has been sent successfully</h3>

Hi {{ name }}! You have successfully sent us a message.

To go back to home page just follow the link <a href="{{ url('app_homepage') }}">...</a>.

Our team will respond to your enquiry as soon as possible.

Thanks!
