{%  extends 'base.html.twig' %}
{% block title %}Pace table{% endblock %}
{%  block body %}
    {% include '_navbar.html.twig' %}
<h1>Runner calculator</h1>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore fuga id molestias neque o
                    dit quo sapiente sit sunt ullam. At nostrum officiis reiciendis voluptates? Amet enim maiores omnis
                    voluptatem?</span><span>Autem, consequuntur doloremque laboriosam minima minus nobis numquam paria
                    tur, quas quia quibusdam quo recusandae sunt tenetu
                    r ut vitae voluptas voluptatem? Dolorum error iste iure laborum saepe sapiente similique veritatis voluptatem?</span></p>
        </div>
        <div class="col-md-4 col-lg-4">
            <ul>
                <li><a href="">first link</a></li>
                <li><a href=""></a>Second link</li>
                <li><a href="">Third one</a></li>
            </ul>
        </div>
    </div>
{%  endblock %}